
@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/JudouMonoFCM-ExtraLight.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/JudouMonoFCM-ExtendedExtraLight.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/JudouMonoFCM-ExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/JudouMonoFCM-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/JudouMonoFCM-Light.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/JudouMonoFCM-ExtendedLight.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/JudouMonoFCM-LightItalic.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/JudouMonoFCM-ExtendedLightItalic.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 350;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/JudouMonoFCM-SemiLight.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-SemiLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 350;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/JudouMonoFCM-ExtendedSemiLight.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-ExtendedSemiLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 350;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/JudouMonoFCM-SemiLightItalic.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-SemiLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 350;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/JudouMonoFCM-ExtendedSemiLightItalic.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-ExtendedSemiLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/JudouMonoFCM-Regular.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/JudouMonoFCM-Extended.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/JudouMonoFCM-Italic.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/JudouMonoFCM-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/JudouMonoFCM-Medium.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/JudouMonoFCM-ExtendedMedium.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/JudouMonoFCM-MediumItalic.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/JudouMonoFCM-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/JudouMonoFCM-Bold.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/JudouMonoFCM-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/JudouMonoFCM-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/JudouMonoFCM-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/JudouMonoFCM-Heavy.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/JudouMonoFCM-ExtendedHeavy.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/JudouMonoFCM-HeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Judou Mono FCM Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/JudouMonoFCM-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/JudouMonoFCM-ExtendedHeavyItalic.ttf') format('truetype');
}
